body {
    font-family: "Roboto" , sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title1 {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #e5e7eb;
}

.image {
    width: 400px;
    height: auto;
}
  
img {
    width: 200px;
    height: 200px;
}

.footer {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color: #e5e7eb;
}

.title, .links {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 700;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.group1 {
    display: flex;
    justify-content: space-between;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    padding: 10px 250px 0 250px;
    flex-direction: column;
}

.section2 {
    background-color: red;
}